

@if(AnalyzedUsers is not null) 
{
    <PageTitle>Analyzed, @AnalyzedUsers[AnalyzedUsers.Count - 1].Username</PageTitle>

    <section class="image-section" id="image-section">

        @for (int i = AnalyzedUsers.Count - 1; i >= 0; i--)
        {
            <div>
                <div class="image-title">
                    <p>u/@AnalyzedUsers[i].Username</p>
                </div>
                <div class="image-container">
                    <img src="@AnalyzedUsers[i].GetImageUrl()" alt="User Image" />
                </div>
            </div>
        }

    </section>
}