

@if(AnalyzedUsers is not null) 
{
    <PageTitle>Analyzed, @AnalyzedUsers[AnalyzedUsers.Count - 1].Username</PageTitle>

    <section class="image-section" id="image-section">

        <aside class="user-history">

            @foreach (var user in GetAnalyzedUsersReversed())
            {
                <div title="u/@user.Username" class="user @(user == _selectedUser ? "active" : String.Empty)" @onclick="() => HandleUserClicked(user)">
                    <p>u/@user.Username</p>
                </div>
            }

        </aside>

        <div class="content-container">

            @if(_selectedUser is not null)
            {
                <div class="image-container">
                    <img src="@_selectedUser.GetImageUrl()" alt="User Image" />
                </div>

                <article>
                    <p>@_selectedUser.BiasReport.Analysis</p>
                </article>
            }

        </div>

    </section>
}