
.image-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.image-container {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

    .image-container img {
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
    }

.image-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

/* Smartphones (portrait) */
@media only screen and (max-width : 400px) {
    .image-section {
        margin-top: 25px;
        gap: 25px;
    }

    section > div {
        padding: 10px;
    }

    section > div:nth-child(even) {
        background-color: var(--secondary-bg-color);
        border-radius: 10px;
    }
}