
.message-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

    .message-container .image-container {
        max-width: 250px;
        /*overflow-y: scroll;*/
        box-sizing: border-box;
    }

.message {
    font-size: 2.4em;
    padding: 25px;
    box-sizing: border-box;
    color: var(--primary-font-color);
}


.image-container {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

    .image-container img {
        width: 100%;
        max-width: 100%;
    }

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

#loop-started {
    animation: scale 3s infinite ease-in-out;
}

/* Smartphones (portrait) */
@media only screen and (max-width : 400px) {
    .message-container {
        flex: none;
    }

    .message-container .image-container {
        width: 150px;
    }

    .message {
        font-size: 1.8em;
        text-align: center;
    }
}