
.image-section[b-i4isjc398o] {
    margin-top: 100px;
}

.image-container[b-i4isjc398o] {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.image-container img[b-i4isjc398o] {
    width: 100%;
    max-width: 100%;
}