
.message-container[b-9xcqac9i98] {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

    .message-container .image-container[b-9xcqac9i98] {
        max-width: 250px;
    }

.message[b-9xcqac9i98] {
    font-size: 2.4em;
    padding: 25px;
    box-sizing: border-box;
    color: var(--primary-font-color);
}


.image-container[b-9xcqac9i98] {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

    .image-container img[b-9xcqac9i98] {
        width: 100%;
        max-width: 100%;
    }

@keyframes scale-b-9xcqac9i98 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

#loop-started[b-9xcqac9i98] {
    animation: scale-b-9xcqac9i98 3s infinite ease-in-out;
}

/* Smartphones (portrait) */
@media only screen and (max-width : 400px) {
    .message-container[b-9xcqac9i98] {
        flex: none;
    }

    .message-container .image-container[b-9xcqac9i98] {
        width: 150px;
    }

    .message[b-9xcqac9i98] {
        font-size: 1.8em;
        text-align: center;
    }
}