/* /Components/FormComponent.razor.rz.scp.css */
.form-group[b-8iuexwchvb] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label[b-8iuexwchvb] {
    font-size: 2.5rem;
}

[b-8iuexwchvb] input {
    padding: 15px;
    border: 1px solid var(--highlighting-color);
    outline: none;
    background-color: var(--secondary-bg-color);
    color: var(--primary-font-color);
    font-size: 1.6rem;
}

[b-8iuexwchvb] input:active,
[b-8iuexwchvb] input:focus {
    outline: none;
}

button[type="submit"][b-8iuexwchvb] {
    margin-top: 30px;
    border: 1px solid var(--link-color-hover);
    background-color: var(--link-color);
    color: var(--link-font-color);
    font-size: 1.8rem;
    font-weight: bold;
    padding: 15px 55px;
}
/* /Components/ImageDisplayComponent.razor.rz.scp.css */

.image-section[b-i4isjc398o] {
    margin-top: 100px;
}

.image-container[b-i4isjc398o] {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.image-container img[b-i4isjc398o] {
    width: 100%;
    max-width: 100%;
}
/* /Pages/Index.razor.rz.scp.css */
